.product-cards--container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    
}

.plans-container--slider {
    justify-content: center;
}
.main-tables-container {
    justify-content: right;
    margin: 0 auto;
}